<launch>
  <!-- These are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="use_platform" default="false"/>
  <arg name="usb_port" default="/dev/arm"/>
  
  <!--group unless="$(arg use_platform)">
    <include file="$(find open_manipulator_gazebo)/launch/open_manipulator_gazebo.launch">
    </include>
  </group-->

 <include file="$(find open_manipulator_controller)/launch/open_manipulator_controller.launch"> 
    <arg name="use_platform" value="$(arg use_platform)"/>
    <arg name="usb_port" value="$(arg usb_port)"/>
  </include>

  <include file="$(find open_manipulator_description)/launch/open_manipulator_rviz.launch" />




</launch>
